<!DOCTYPE html>
<html>
<head>
  <title>Intense Introduction to Python</title>
  <base target="_blank">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="github.css">

  <style>
    body {
        font-family: 'Roboto Slab', serif;
    }
    p.url {
	font-family: Monospace;
    }
  </style>

</head>
<body>
  <div class="container">
    <%= @body %>
    <hr />
    Copyright &copy; <a href="https://www.353.solutions/">353solution</a>. <b>All rights reserved, DO NOT COPY!</b>
  </div>
</body>
</html>
