<!DOCTYPE html>
<html>
<head>
  <title>All package manager suck, conda sucks less</title>
  <link
    href='https://fonts.googleapis.com/css?family=Quando'
    rel='stylesheet' type='text/css' />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

  <style>
    body {
        font-family: Quando, serif;
    }
    p.url {
	font-family: Monospace;
    }
  </style>
</head>
<body>
  <div class="container">
    <%= @body %>
  </div>
</body>
</html>
