@font-face {
    font-family: 'Space-Mono';
    src: url('SpaceMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.clock {
    font-family: Space-Mono;
    font-size: 1.2em;
    position: absolute;
    left: 40px;
    bottom: 30px;
    color: red;
}

div.playground pre {
    font-size: 24px;
    font-family: Space-Mono;
}

div.playground span.num {
    font-size: 24px;
    font-family: Space-Mono;
}
